$color: #c00;
$borColor: #ededed;

* {
  margin: 0;
  padding: 0;
}

.tab-container {
  width: 300px;
  height: 44px;
  line-height: 44px;
  display: flex;
  align-items: center;
  border: 1px solid $borColor;

  .tab-item {
    width: 100%;
    height: 100%;
    flex: 1;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;

    &.active {
      border-bottom: 2px solid $color;
      color: $color;
    }
  }
}


.nav-bar {
  width: 400px;
  height: 44px;
  display: flex;
  border: 1px solid $borColor;

  .nav-right,
  .nav-left {
    height: 100%;
    width: 70px;
  }

  .nav-center {
    flex: 1;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
